.marker__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker__container svg:hover {
  opacity: 1.0;
  scale: 1.1;
  transition: all 0.3s;
}

.marker__container svg {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  scale: 1.0;
  transition: all 0.3s;
}
